.board-app {
  position: relative;
  grid-column: 2;
  // overflow-y: hidden;
  // min-height: 100vh;
  padding-left: 20px;
  max-height: 100vh;

  .board-details {
    position: relative;
    top: 130px;
  }
}