.board-app {
  position: relative;
  grid-column: 2;
  // overflow-y: hidden;
  // min-height: 100vh;
  overflow: auto; // ! 👈
  padding-left: 20px;
  height: 100vh;
  background-color: white;

  .board-details {
    position: relative;
    top: 170px;
    width: 100%;
    min-width: fit-content;
    padding-left: 19px;
    padding-bottom: 60px;

    @media (max-width: 450px) {
      padding-left: 35px;
    }
  }

}