.dashboard {
    grid-column: 2;
    background-color: var(--clr-bg);

    .board-header {
        padding-inline-start: 40px;
        width: calc(100vw - var(--board-grid-column));

        @media (max-width: 450px) {
            padding-inline-start: 15px;
            width: calc(100vw - 22px);
        }
    }


    .dashboard-main-container {
        position: relative;
        top: 180px;
        min-height: calc(100vh - 181px);
        background-color: var(--clr-bg);
        display: grid;
        gap: 30px;
        padding: 30px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px minmax(300px, 500px);
        grid-template-areas:
            //     /*  ╭────────────────┬─────────────────┬─────────────────╮ */
            //     ' groups           tasks             members      '
            //     /*  ├────────────────┼─────────────────┼─────────────────┤ */
            //     ' tasks-status     tasks-per-group   tasks-per-group '
            //     /*  ├────────────────┼─────────────────┼─────────────────┤ */
            //     ' tasks-priority   tasks-priority    tasks-priority  ';
            // /*  ╰────────────────┴─────────────────┴─────────────────╯ */
            /*  ╭────────────────┬─────────────────┬─────────────────╮ */
            ' groups           tasks             members      tasks-status'
            /*  ├────────────────┼─────────────────┼─────────────────┤ */
            ' tasks-per-group     tasks-per-group tasks-priority   tasks-priority  ';
        /*  ╰────────────────┴─────────────────┴─────────────────╯ */

        .groups {
            grid-area: groups;
        }

        .tasks {
            grid-area: tasks;
        }

        .members {
            grid-area: members;
        }

        .tasks-status {
            grid-area: tasks-status;
        }

        .tasks-per-group {
            grid-area: tasks-per-group;
        }

        .tasks-priority {
            grid-area: tasks-priority;
        }

        @media (max-width: 450px) {}

        .top-dashboard-item {
            background-color: var(--clr-item-bg);
            border: 1px solid #9ec6ffb3;
            border-radius: 0.3em;
            padding: 10px 20px;
            display: flex;
            gap: 20px;
            font-size: 18px;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 1;

            .flex {
                flex-direction: column;
                gap: 5px;
            }

            .info-number {
                font-family: roboto-medium;
                font-size: 30px;
                margin-inline-end: 3px;
            }

            .task-count {
                padding-inline-start: 6px;
                font-size: 14px;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2em;
                width: 57px;
                height: 57px;

                svg {
                    width: 25px;
                    height: 25px;
                }

                &.members {
                    background-color: var(--clr-logo-green);
                }

                &.groups {
                    background-color: var(--clr-logo-red);
                }

                &.tasks {
                    background-color: var(--clr-logo-yellow);

                }
            }
        }



        .chart {
            max-height: 300px;
            max-width: 600px;

            @media (max-width: 450px) {
                width: 250px;
                height: 200px;
            }
        }

        .chart-title {
            border-bottom: 1px solid #9ec6ffb3;
            height: 35px;
            width: 100%;
        }

        .table-chart {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: var(--clr-item-bg);
            // max-width: 800px;
            padding: 20px;
            border: 1px solid #9ec6ffb3;
            border-radius: 0.5em;

            @media (max-width: 450px) {
                min-width: 300px;
            }
        }
    }

    .chart-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .status-battery {
        // padding: 30px 80px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        gap: 10px;

        .status-progress-bar {
            height: 60px;
            width: 100%;
            display: flex;
            border: 4px solid rgb(232, 232, 232);
            position: relative;
            border-radius: 8px;
            min-width: 300px;

            &>*:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

            .battery-top {
                width: 6px;
                background: #e8e8e8;
                position: absolute;
                top: 50%;
                height: 20px;
                right: -5px;
                translate: 50% -50%;
                border-top-right-radius: 0.2em;
                border-bottom-right-radius: 0.2em;
            }
        }

        .status-progress {
            transition: all .3s ease-out;

            &:hover {
                transition-delay: .4s;
                scale: 1 1.3;
                border-radius: 4px;
                // opacity: 0.85;
            }
        }

        .status-progress.Done {
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            order: -1;
        }
    }

    .members-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 25px);

        img {
            border: 1px solid white;
            width: 30px;
            border-radius: 2em;
        }
    }
}