.dashboard {
    grid-column: 2;
    background-color: var(--clr-bg);
    min-height: fit-content;
    position: relative;

    @media (max-width: 450px) {
        padding-bottom: 60px;
    }

    .board-header {
        padding-inline-start: 40px;
        width: calc(100vw - var(--board-grid-column));

        @media (max-width: 450px) {
            padding-inline-start: 15px;
            width: calc(100vw - 22px);
        }
    }


    .dashboard-main-container {
        position: relative;
        // top: 150px;
        min-height: calc(100vh - 150px);
        max-width: 1440px;
        margin: 0 auto;
        background-color: var(--clr-bg);
        display: grid;
        gap: 30px;
        padding: 30px;
        padding-top: 180px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 100px 100px 100px 1fr;
        grid-template-areas:
            /*  ╭────────────────┬────────────────┬──────────────────┬──────────────────╮ */
            '     tasks-status     groups           member-container   member-container '
            /*  ├────────────────┼────────────────┼──────────────────┼──────────────────┤ */
            '     tasks-status     tasks            member-container   member-container '
            /*  ├────────────────┼────────────────┼──────────────────┼──────────────────┤ */
            '     tasks-status     members          member-container   member-container '
            /*  ├────────────────┼────────────────┼──────────────────┼──────────────────┤ */
            '     tasks-priority   tasks-priority   tasks-per-group    tasks-per-group  ';
        /*      ╰────────────────┴────────────────┴──────────────────┴──────────────────╯ */


        @media (max-width: 1200px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 110px 110px 110px 390px;
            grid-template-areas:
                /*  ╭─────────────────┬────────────────┬──────────────────┬──────────────────╮ */
                '     tasks-status      member-container   member-container              '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '     tasks-priority    tasks-priority   groups  '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '     tasks-priority    tasks-priority   tasks  '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '     tasks-priority    tasks-priority   members  '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '     tasks-per-group   tasks-per-group tasks-per-group  ';
            /*      ╰─────────────────┴─────────────────┴──────────────────┴──────────────────╯ */
        }

        @media (max-width: 950px) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 100px 100px 100px 2fr 3fr 3fr;
            grid-template-areas:
                /*  ╭─────────────────┬────────────────┬──────────────────┬──────────────────╮ */
                '     tasks-status     groups  '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '     tasks-status     tasks  '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '     tasks-status     members  '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '     member-container   member-container              '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '      tasks-per-group tasks-per-group  '
                /*  ├─────────────────┼─────────────────┼──────────────────┼──────────────────┤ */
                '     tasks-priority tasks-priority  ';
            /*      ╰─────────────────┴─────────────────┴──────────────────┴──────────────────╯ */
        }

        @media (max-width: 680px) {
            grid-template-columns: 1fr;
            grid-template-rows: 100px 100px 100px 150px 2fr 3fr 3fr;
            grid-template-areas:
                /*  ╭──────────────────╮ */
                '     groups  '
                /*  ├──────────────────┤ */
                '     tasks  '
                /*  ├──────────────────┤ */
                '     members  '
                /*  ├──────────────────┤ */
                '     tasks-status     '
                /*  ├──────────────────┤ */
                '     member-container '
                /*  ├──────────────────┤ */
                '     tasks-per-group '
                /*  ├──────────────────┤ */
                '     tasks-priority ';
            /*      ╰──────────────────╯ */
        }

        @media (max-width: 450px) {
            padding-top: 150px;
        }

        .groups {
            grid-area: groups;
        }

        .tasks {
            grid-area: tasks;
        }

        .members {
            grid-area: members;
        }

        .tasks-status {
            grid-area: tasks-status;
            padding-left: 50px;
        }

        .tasks-per-group {
            grid-area: tasks-per-group;
        }

        .tasks-priority {
            grid-area: tasks-priority;
        }

        .member-container {
            grid-area: member-container;
        }

        @media (max-width: 450px) {}

        .top-dashboard-item {
            background-color: var(--clr-item-bg);
            border: 1px solid #9ec6ffb3;
            border-radius: 0.3em;
            padding: 10px 20px;
            display: flex;
            gap: 20px;
            font-size: 18px;
            align-items: center;
            justify-content: flex-start;
            flex-grow: 1;

            .flex {
                flex-direction: column;
                flex: 1;
                gap: 5px;
            }

            .info-number {
                font-family: roboto-medium;
                font-size: 22px;
                margin-inline-end: 3px;
            }

            .task-count {
                padding-inline-start: 6px;
                font-size: 14px;
            }

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 2em;
                width: 57px;
                height: 57px;

                svg {
                    width: 25px;
                    height: 25px;
                }

                &.members {
                    background-color: var(--clr-logo-green);
                }

                &.groups {
                    background-color: var(--clr-logo-red);
                }

                &.tasks {
                    background-color: var(--clr-logo-yellow);

                }
            }
        }



        .chart {
            max-height: 300px;
            max-width: 600px;

            @media (max-width: 450px) {
                width: 250px;
                height: 200px;
            }
        }

        .chart-title {
            border-bottom: 1px solid #9ec6ffb3;
            height: 35px;
            width: 100%;
            margin-bottom: 25px;
        }

        .table-chart {
            display: flex;
            flex-direction: column;
            // align-items: center;
            background-color: var(--clr-item-bg);
            // max-width: 800px;
            width: 100%;
            padding: 20px;
            border: 1px solid #9ec6ffb3;
            border-radius: 0.5em;

            @media (max-width: 450px) {
                min-width: 300px;
            }
        }
    }

    .chart-container {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .member-progress {
        display: flex;
        flex-direction: column;
        gap: 13px;

        .member-info {
            display: flex;
            justify-content: space-between;
        }

        .member-img-name {
            display: flex;
            align-items: center;
            gap: 10px;

            img {
                width: 33px;
                border-radius: 2em;
            }

            .member-name {
                font-family: roboto;
                font-size: 16px;
                min-width: 130px;
            }
        }

    }

    .user-done-progress-bar-wrapper {
        flex: 1;
        height: 25px;
        background-color: rgb(38, 38, 38);
        border-radius: 2em;
        text-align: center;
        position: relative;
        max-width: 350px;

        .user-done-progress-bar {
            background-color: var(--clr-done);
            height: inherit;
            border-top-left-radius: 2em;
            border-bottom-left-radius: 2em;
        }

        .precentage {
            position: absolute;
            top: 50%;
            left: 50%;
            translate: -50% -50%;
            color: white;
        }
    }


    .status-battery {
        // padding: 30px 80px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-direction: column;
        gap: 20px;

        @media (max-width: 680px) {
            justify-content: space-between;
        }

        .status-progress-bar {
            flex-direction: column-reverse;
            height: 100%;
            width: 100px;
            display: flex;
            // border: 4px solid rgb(232, 232, 232);
            position: relative;
            margin-left: 40px;
            border-radius: 8px;

            @media (max-width: 680px) {
                rotate: 90deg;
                height: 214px;
                translate: 20px;
            }

            @media (max-width: 450px) {
                height: 160px;
                // translate: 20px;
            }


            .status-progress:not(.Done, :hover) {
                // filter: grayscale(100%);
                background-color: var(--clr-disabled);
            }

            &>*:last-child {
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;
            }

            .battery-top {
                width: 30px;
                background: var(--clr-disabled);
                position: absolute;
                top: 0;
                height: 8px;
                right: 50%;
                translate: 50% -100%;
                border-top-right-radius: 0.2em;
                border-top-left-radius: 0.2em;
            }

        }

        &>span {
            display: flex;
            flex-direction: column;

            .info-number {
                font-family: roboto-medium;
                font-size: 24px;
                margin-inline-end: 3px;
            }
        }

        .status-progress {
            width: 100%;
            transition: scale .3s ease-out, border-radius .3s ease-out;

            &:hover {
                transition-delay: .4s;
                // scale: 1.1 1;
                scale: 1.1 1;
                border-radius: 4px;
                // opacity: 0.85;
            }
        }

        .status-progress.Done {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
            order: -1;
        }
    }

    .members-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 25px);

        img {
            border: 1px solid white;
            width: 30px;
            border-radius: 2em;
        }
    }
}