* {
    box-sizing: border-box;
}

html {
    font-family: roboto-light, roboto, sofia-pro-light, Helvetica, sans-serif;
    color: var(--clr-txt);
}

body {
    margin: 0;
    background-color: var(--clr-item-bg);
    min-height: 100vh;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    font-family: roboto, roboto-light, Helvetica, sans-serif;
    cursor: pointer;
    background-color: transparent;
    border: none;
    padding: 0;
}

svg.icon,
svg.icon * {
    fill: var(--clr-icon-svg);
}