.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.grid {
  display: grid;
}

.btn-ri svg {
  width: 20px;
  height: 20px;
  fill: var(--clr-icon-svg);
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}