
@font-face {
    font-family: comfortaa-bold ;
    src: url(../../assets/fonts/comfortaa/Comfortaa-Bold.ttf);
}

@font-face {
    font-family: roboto-light ;
    src: url(../../assets/fonts/roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: roboto-regular ;
    src: url(../../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-medium;
    src: url(../../assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-bold;
    src: url(../../assets/fonts/roboto/Roboto-Bold.ttf);
}

