.board-list {
    padding: 0 30px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;

    @media (max-width: 840px) {
        justify-content: center;
    }

    a {
        text-decoration: none;
    }
}