.board-header {
  display: flex;
  flex-direction: column;

  .board-info {
    justify-content: space-between;

    .btns-container {
      display: flex;
      align-items: center;
      justify-content: center;

      .btn {
        display: flex;
        align-items: center;
        // justify-content: center;
        height: 32px;
        line-height: 24px;
        padding: 8px 24px 8px 12px;

        &:not(:hover)::after {
          content: "";
          height: 16px;
          border-right: 1px solid;
          border-right-color: currentcolor;
          border-color: var(--layout-border-color);
          position: absolute;
          top: 8px;
        }
      }

    }
  }

  .board-nav {

    .btns-container {

      .icon-search::before {
        content: "\f3aa";
      }
    }
  }
}