
.board-preview {
    color: var(--clr-txt);
    width: 300px;
    display: flex;
    align-items: center;
    border: 1px solid var(--clr-btn-bg-hover);
    padding: 20px;
    border-radius: 0.5em;
    cursor: pointer;


    &:hover {
        border: 1px solid transparent;
        box-shadow: var(--box-shadow-medium);
    }


    .board-preview-icon {
        background-color: var(--status-clr5);
        color: var(--clr-item-bg);
        padding: 6px 12px;
        border-radius: 0.2em;
        margin-inline-end: 15px;
        font-size: 20px;
    }

    .board-preview-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        p {
            margin: 0;
            font-size: 14px;
        }
    }
}


