.column-stats {
    display: flex;
    margin: 0;
    padding: 0;
    border-end-start-radius: 8px;
    height: 35px;
    border: 0;


    .empty-start {
        min-width: 398px;
        box-shadow: inset 0px 16px 33px -27px rgba(0, 0, 0, 0.08);
    }
    
    .empty-member-stat {
        border-left: 1px solid var(--clr-disabled);
        min-width: 138px;
        border-bottom: 1px solid var(--clr-disabled);
        border-end-start-radius: 8px;
    }

    .status-stat {
        min-width: 138px;
        border-left: 1px solid var(--clr-disabled);
        border-bottom: 1px solid var(--clr-disabled);

        .status-progress-bar {
            width: 100%;
            display: flex;
            height: 100%;
            padding: 7px;

            &>* {

                transition: transform 0.2s;
                height: 100%;

                &:hover {
                    transform: scaleY(1.3);
                    border-radius: 2px;
                }
            }
        }

    }

    .priority-stat {
        min-width: 138px;
        border-bottom: 1px solid var(--clr-disabled);

    }

    .empty-last-updated-stat {
        border-bottom: 1px solid var(--clr-disabled);
        min-width: 138px;
    }

    .files-stat {
        min-width: 138px;
        border-bottom: 1px solid var(--clr-disabled);
    }

    .timeline-stat {
        min-width: 160px;
        border-bottom: 1px solid var(--clr-disabled);
    }

    &>li:last-child {
        border-bottom: 1px solid var(--clr-disabled);
        display: flex;
        width: 100%;
        
    }


    .Workingonit {
        background-color: var(--clr-workingOnIt);
    }

    .Stuck {
        background-color: var(--clr-stuck);
    }

    .Done {
        background-color: var(--clr-done);
    }

    .WaitingforQA {
        background-color: var(--clr-waiting);
    }

    .Needhelp {
        background-color: var(--clr-help);
    }

    .Pending {
        background-color: var(--clr-pending);
    }

    .Critical {
        background-color: var(--clr-critical);
    }

    .Medium {
        background-color: var(--clr-medium);
    }

    .High {
        background-color: var(--clr-high);
    }

    .Low {
        background-color: var(--clr-low);
    }
}