.group {


  .task-list {

    .cmps,
    .task-row {
      display: grid;
      grid-template-areas:
        /*  ╭───────┬───────────┬────────┬───────╮ */
        '     task    developer   status   date  '
        /*  ╰───────┴───────────┴────────┴───────╯ */
    }

    text-align: center;
  }
}