.group-header {
    position: relative;
    margin-left: 20px;
    list-style-type: none;
    border: 1px solid var(--clr-disabled);
    border-radius: 8px;
    height: 58px;
    display: flex;
    align-items: center;
    padding: 0;
    width: fit-content;
    border-left: none;
  
    li {
      height: 100%;
      display: flex;
      align-items: center;
    }
  
    li:not(:nth-child(2)) {
      justify-content: center;
    }
    
    li:nth-child(n+3){
        min-width: 138px;
    }

    li:nth-child(n+3):not(:last-child) {
        border-right: 1px solid var(--clr-disabled);
    }

    input {
      padding: 5px;
      width: 330px;
      border: 1px solid var(--clr-btn-highlight);
      border-radius: 4px;

      &:hover {
          outline: none;
      }
      
  }
  .group-header-title-h4 {
      padding: 5px;
      border: 1px solid transparent;
  }
  .group-header-title-h4:hover {
      outline: 1px solid var(--clr-disabled);
  }
  .no-background {
      font-size: 18px;
      font-family: roboto;
      font-weight: bold;
      outline: none;
      border-radius: 4px;
  }

    .group-header-color {
      min-width: 6px;
      height: 59px;
      border-start-start-radius: 8px;
      border-end-start-radius: 8px;

    }
  
    .group-header-name {
      min-width: 392px;
      display: flex;
      font-size: 18px;
      font-weight: 500;
    }
  
    .group-header-name:not(:last-child) {
      border-right: 1px solid var(--clr-disabled);
    }
  
  
  }