
.blinker {
  animation: blinker 1s linear infinite;
  transition: opacity .4s;
}

@keyframes blinker {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.svg-elem-1 {
          // animation: animate-svg-fill-1 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s both;
          // animation-delay: 0.8s;
          // animation-iteration-count: infinite;
}

.svg-elem-2 {
          // animation: animate-svg-fill-2 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.9s both;
          animation-delay: 0.9s;
          // animation-iteration-count: infinite;
}

.svg-elem-3 {
          // animation: animate-svg-fill-3 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1s both;
          animation-delay: 1s;
          // animation-iteration-count: infinite;
}

.svg-elem-4 {
          // animation: animate-svg-fill-4 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.1s both;
          animation-delay: 1.1s;
          // animation-iteration-count: infinite;
}

.svg-elem-5 {
          // animation: animate-svg-fill-5 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.2000000000000002s both;
          animation-delay: 1.200000000002s;
          // animation-iteration-count: infinite;
}

.svg-elem-6 {
          // animation: animate-svg-fill-6 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.3s both;
          animation-delay: 1.3s;
          // animation-iteration-count: infinite;
}

.svg-elem-7 {
          // animation: animate-svg-fill-7 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.4000000000000001s both;
          animation-delay: 1.400000000001s;
          // animation-iteration-count: infinite;
}

.svg-elem-8 {
          // animation: animate-svg-fill-8 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.5s both;
          animation-delay: 1.5s;
          // animation-iteration-count: infinite;
}

.svg-elem-9 {
          // animation: animate-svg-fill-9 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.6s both;
          animation-delay: 1.6s;
          // animation-iteration-count: infinite;
}

.svg-elem-10 {
          // animation: animate-svg-fill-10 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.7000000000000002s both;
          animation-delay: 1.70000000000s;
          // animation-iteration-count: infinite;
}

.svg-elem-11 {
          // animation: animate-svg-fill-11 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.8s both;
          animation-delay: 1.8s;
          // animation-iteration-count: infinite;
}

.svg-elem-12 {
          // animation: animate-svg-fill-12 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 1.9000000000000001s both;
          animation-delay: 2s;
          // animation-iteration-count: infinite;
}

.svg-elem-13 {
          // animation: animate-svg-fill-13 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 2s both;
          // animation: blinker 0.7s cubic-bezier(0.47, 0, 0.745, 0.715);
          animation-delay: 2.1s;
          // animation-iteration-count: infinite;
}

