.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .blinker {
    animation: blinker .8s linear infinite;
  }

  @keyframes blinker {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .mid {
    animation-delay: -.15s;
  }

  .outer {
    animation-delay: -.3s;
  }
}