.nav-bar {
  width: 66px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 13px;
  padding: 3px 0 3px 0;
  height: 100vh;
  background-color: var(--clr-bg-navbar);


  .btn {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;

    &.btn-home {
      width: 50px;
      height: 50px;
      box-shadow: 0px 1px 0px 0px #676879;
      margin-bottom: 6px;

      svg {
        width: 30px;
        height: 30px;
      }
    }

    &:not(.btn-home, .btn-board) {
      svg * {
        fill: white;
      }
    }

    &.btn-favorites {
      margin-bottom: auto;
    }

    &:last-child {
      margin-bottom:20px
    }
  }

}