.nav-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: var(--clr-bg-navbar);

  .btn-home svg {
    width: 24px;
    height: 24px;
  }

  .btn:not(.btn-home, .btn-board) {
    svg * {
      fill: white;
    }
  }

  .btn {

  }

}