.nav-bar {
  width: 66px;
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  padding: 8px 0 8px 0;
  height: 100vh;
  background-color: var(--clr-bg-navbar);
  z-index: 20;

  .divider-horizontal {
    width: 80%;
    height: 1px;
    margin-bottom: 4px;
    background-color: #676879;
  }

  .divider-horizontal:last-of-type {
    margin-bottom: 0;
  }

  .btn {
    width: 36px;
    height: 36px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;

    a {
      width: 36px;
      height: 36px;
      border-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: center;

      .selected-indication{
        right: -6px;
      }
      &.active {
        background-color: #545970;

        .selected-indication {
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 8px 6px 8px 0;
          position: absolute;
          right: 0;
          opacity: 1;
          transition: opacity .1s ease-in-out;
          border-color: transparent var(--clr-bg) transparent transparent;
        }
      }
    }

    &:hover {
      background-color: #10131e;
    }

    &.btn-home {
      svg {
        width: 28px;
        height: 28px;
      }
    }

    &:not(.btn-home, .btn-board, .last-child) {
      svg * {
        fill: white;
      }
    }

    &.btn-favorites {
      margin-bottom: auto;
    }

    &.btn-menu {
      width: 46px;
      height: 46px;

      svg * {
        width: 36px;
        height: 36px;
        fill: #8f8fff;
      }
      
      &:hover {
        svg * {
          fill: white;
        }
      }
    }

    &.btn-user {
      width: 42px;
      height: 42px;
      border-radius: 50%;
      border: 2px solid white;
      color: white;
      font-family: roboto-medium;
      font-size: 24px;
      margin-bottom: 26px;
      background-color: #569cfc;
      transition: scale .1s ease-out;

      &:hover {
        scale: 0.85
      }
    }
  }

}