.side-nav-bar {
    position: fixed;
    top: 0;
    left: 66px;
    background-color: var(--clr-bg);
    width: 220px;
    height: 100%;
    color: var(--clr-icon-svg);
    padding: 13px 15px;
    font-size: 14px;
    z-index: 10;
    transition: 0.2s;
    border: 1px solid var(--clr-disabled);

    &.closed {
        left: -123px;
        padding-right: 50px;

        .toggle-nav-bar {
            svg {
                transform: rotate(270deg);

            }

            &:hover {
                padding-left: 15px;
                padding-right: 0px;
                transform: translateX(23px);
            }
        }
    }


    .toggle-nav-bar {
        width: 25px;
        padding: 0.5px 2px;
        background-color: var(--clr-item-bg);
        border-radius: 2em;
        border: 1px solid var(--clr-disabled);
        position: absolute;
        top: 25px;
        right: 0px;
        transform: translateX(13px);
        transition: 0.2s;

        &:hover {
            background-color: var(--clr-btn-highlight);
            width: 35px;
            padding-right: 15px;


            svg * {
                fill: var(--clr-item-bg);
            }
        }

        svg {
            width: 18px;
            position: relative;
            transform: rotate(90deg);
        }
    }

    hr {
        border: 1px solid var(--clr-disabled);
    }


    .side-board-opts {
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            cursor: pointer;
        }

        .board-name {
            color: var(--clr-icon-svg);

            margin: 0;
        }
    }

    .side-nav-details {
        display: flex;
        flex-direction: column;
        margin-top: 30px;

        .side-nav {
            font-size: 14px;
            display: flex;
            align-items: center;
            margin-bottom: 5px;
            cursor: pointer;
            padding: 5px;
            border-radius: 0.2em;

            &:hover {
                background-color: var(--clr-btn-bg-hover);
            }

            svg {
                margin-inline-end: 10px;
            }
        }
    }

    .nav-board-list {
        padding: 5px 0px;

        .nav-board-preview {
            position: relative;
            padding: 18px 5px;
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            border-radius: 0.3em;
            height: 20px;
            text-decoration: none;
            color: var(--clr-icon-svg);

            .icon {
                display: none;
            }

            &:hover {
                background-color: var(--clr-btn-bg-hover);

                .icon {
                    display: inline-flex;
                }
            }

            p {
                flex-grow: 1;
                margin: 0;
            }

            &.active {
                background-color: #cce5ff;
            }

            .board-opts-modal {
                width: 200px;
                display: flex;
                position: absolute;
                right: 0px;
                bottom: 0px;
                transform: translate(80% , 90%);
                flex-direction: column;
                background-color: var(--clr-item-bg);
                padding: 10px;
                box-shadow: var(--box-shadow-medium);
                border-radius: 0.5em;
                z-index: 20;

                .nav-board-menu-opt {
                    display: flex;
                    padding: 5px;
                    border-radius: 0.2em;

                    .icon {
                        display: inline-flex;
                        margin-inline-end: 10px;
                    }

                    &:hover {
                        background-color: var(--clr-btn-bg-hover);
                    }
                }
            }
        }
    }


}