.task-preview .sticky-container.open {
    z-index: 10;
}

.task-preview {
    display: flex;
    margin: 0;
    padding: 0;
    margin-right: 1px;
    border-bottom: 1px solid var(--clr-disabled);
    // width: 100%;

    &:hover {
        background-color: #F4F5F8;
        // box-shadow: 0px 12px 11px -15px rgba(0, 0, 0, 0.49);
    }

    &:hover .sticky-container {
        background-color: #F4F5F8;
        // box-shadow: 0px 12px 11px -15px rgba(0, 0, 0, 0.49);
    }

    &:hover .task-preview-priority {
        filter: opacity(.7);
    }

    &:hover .task-preview-status {
        filter: opacity(.7);
    }

    .developer-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, 20px);
        width: 100%;
        justify-content: center;

        .profile-img-icon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 2px solid white;
        }
    }

    .last-updated {
        line-height: 18px;

        .profile-img-icon {
            width: 25px;
            height: 25px;
            border-radius: 50%;
        }
    }

    &>li:last-child {
        display: flex;
        width: 100%;

        div {
            flex: 1;
        }
    }

    .task-preview-priority {
        background-color: var(--clr-empty);
        color: white;
        box-sizing: border-box;
        text-align: center;
        position: relative;

        .fold {
            width: 0px;
            height: 0px;
            position: absolute;
            top: 0px;
            right: 0px;
            border-width: 0;
            border-style: solid;
            background: rgba(0, 0, 0, 0.352);
            display: block;
            border-color: transparent #fff transparent #fff;
            transition: border-width 0.2s ease-out;
        }

        &:hover .fold {
            border-width: 0px 10px 10px 0px;
            transition-delay: .2s;
        }

        &:hover {
            cursor: pointer;
        }


    }

    .task-preview-status {
        background-color: var(--clr-empty);
        color: white;
        box-sizing: border-box;
        text-align: center;
        position: relative;

        .fold {
            width: 0px;
            height: 0px;
            position: absolute;
            top: 0px;
            right: 0px;
            border-width: 0;
            border-style: solid;
            background: rgba(0, 0, 0, 0.352);
            display: block;
            border-color: transparent #fff transparent #fff;
            transition: border-width 0.2s ease-out;
        }

        &:hover .fold {
            border-width: 0px 10px 10px 0px;
            transition-delay: .2s;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .task-preview-last-updated {
        padding: 0 7px;
        font-family: roboto-light;
        letter-spacing: -0.3px;
        font-size: 13px;
        gap: 12px;
        justify-content: flex-start;

        .last-updated {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }


    .task-preview-item h4:hover {
        outline: 1px solid var(--clr-disabled);
        outline-offset: 2px;
        border-radius: 3px;
    }

    .task-preview-item input {
        border: none;
        outline: 1px solid rgb(69, 149, 253);
        border-radius: 4px;
        width: 215px;
        height: 20px;
    }

    .same-width {
        min-width: 138px;
    }

    .svg-no-person {
        width: 35px;
        height: 35px;
    }

    .task-preview-developer {
        position: relative;

        svg {
            width: 28px;
            fill: var(--clr-disabled-permenent);
        }

        &:hover .btn-add-developer {
            opacity: 1;
        }

        .btn-add-developer {
            opacity: 0;
            position: absolute;
            left: 10px;

            svg {
                width: 16px;
                height: 16px;

                * {
                    fill: var(--clr-btn-highlight);
                }
            }
        }
    }

    .item-container {
        display: flex;
        min-width: calc(393px - 36px);
        border-right: 1px solid var(--clr-disabled);
        position: relative;

        .item-container-right {
            width: 100%;
            display: flex;
            justify-content: space-between;

            .task-preview-start-conversation {
                width: 65px;
                justify-content: center;
                align-items: center;
                border-left: 1px solid var(--clr-disabled);
                @media (max-width:450px) {
                    width: 35px;
                }
                &:hover .btn-start-conversation {
                    svg * {
                        fill: var(--clr-btn-highlight);
                    }
                }

                .btn-start-conversation {
                    svg * {
                        fill: var(--clr-disabled-permenent);
                    }

                }

                .with-comments-container {
                    display: grid;
                    grid-template-columns: repeat(auto-fit, 30spx);

                    span {
                        padding: 0;
                        margin: 0;
                        height: 0;
                        width: 0;
                        position: absolute;
                        color: #fff;
                        right: 16px;
                        bottom: 4px;
                        font-size: 10px;
                        font-weight: 400;
                        width: 14px;
                        height: 14px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: var(--clr-btn-highlight);
                        border-radius: 50%;
                    }

                    svg * {
                        fill: var(--clr-btn-highlight);
                    }
                }
            }
        }

        .item-preview-sub-task-expansion {
            width: 35px;
            height: 35px;
        }

        li {
            border: none;
        }

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 35px;
            width: 65px;
            border-left: 1px solid var(--clr-disabled);
        }
    }

    .task-preview-group-color {
        min-width: 6px;
        height: 105%;
        border-right: none;
        // margin-right: 1px;

    }

    .task-preview-checkbox {
        min-width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;

        .task-check-input {
            width: 15px;
            height: 15px;
        }
    }

   

    .Workingonit {
        background-color: var(--clr-workingOnIt);
    }

    .Stuck {
        background-color: var(--clr-stuck);
    }

    .Done {
        background-color: var(--clr-done);
    }

    .WaitingforQA {
        background-color: var(--clr-waiting);
    }

    .Needhelp {
        background-color: var(--clr-help);
    }

    .Pending {
        background-color: var(--clr-pending);
    }

    .Critical {
        background-color: var(--clr-critical);
    }

    .Medium {
        background-color: var(--clr-medium);
    }
    
    .High {
        background-color: var(--clr-high);
    }
    
    .Low {
        background-color: var(--clr-low);
    }

}

/* MEDIUM */
@media (max-width: 800px) {}



/* SMALL */
@media (max-width: 450px) {
    .task-preview {
        height: 35px;
        text-overflow: ellipsis;
        white-space:none;


        li {
            display: flex;
            justify-content: center;
        }

        h4 {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
        }

        .same-width {
            min-width: 100px;
            justify-content: center;
            align-items: center;
        }

        .item-container {
            min-width: 170px;

            .item-preview-sub-task-expansion {
                width: 15px;
            }

            .item-container-right {}

            // .task-preview-start-conversation {
            //     width: 35px;
            // }


        }

        .task-preview-last-updated {
            min-width: 120px;
        }
    }
}

