.task-detail {
    // width: 700px;
    width: 100vw;
    height: 100vh;
    // position: absolute;
    // font-size: 14px;
    // height: fit-content;
    background-color: var(--clr-item-bg);
    // padding: 10px;
    // box-shadow: var(--box-shadow-small);
    // border-radius: 8px;
    z-index: 50;
}