.user-menu {
    position: absolute;
    transform: translate(150px, 635px);
    width: 230px;
    font-size: 14px;
    height: fit-content;
    background-color: var(--clr-item-bg);
    padding: 10px;
    box-shadow: var(--box-shadow-medium);
    border-radius: 8px;
    z-index: 12;

    .btn-logout:hover {
        background-color: var(--clr-btn-bg-hover);
    }

    .btn-logout {
        justify-content: flex-start;
        width: 205px;
        height: 30px;
        padding: 4px 16px;
        border-radius: 4px;
        cursor: pointer;
    }

    

}